<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Coupons</h2>
            
        </div>
        <div>
            <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#exampleModalCenter">
                Add coupon
              </button>
        </div>
    </div>




<!-- modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Add coupon</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
      
              <section class="">
                <div class="container d-flex justify-content-center">
                  <div class="row w-75 mt-5">
                    <div class="col-md-12">
                      <h2 class="text-center">Add Coupon</h2>
                      <form
                        action="/admin/add-coupon"
                        method="POST">
                        <label for="">Coupon Name</label>
                        <input type="text" name="couponName" class="form-control" required />
                        <label for="">Minimum Purchase</label>
                        <input type="text" name="minimumPurchase" class="form-control" required/>
                        <p style="color: red;" id="QuantityError"></p>
              
                        <label for="">Discount Percentage</label>
                        <input type="text" name="discountPercentage" id="Quantity" onkeyup="validateQuantity()" class="form-control" required/>
                        <p style="color: red;" id="QuantityError"></p>
            
              
              
                        <label for="">Maximum Discount Value</label>
                        <input type="text" name="maxDiscountValue" id="Price" onkeyup="validateP
                        rice()" class="form-control" required />
                        <p style="color: red;" id="PriceError"></p>
              
                        <label for="">Expiry</label>
                        <input type="date" name="expiry" class="form-control" required />
                       
                        <label for="">Description</label>
                        <input type="text" name="description" class="form-control" required />


                        <label for="">Keywords</label>
                        <input type="text" name="keywords" class="form-control" required />

                        <button type="submit" class="btn btn-md rounded font-sm"  onclick="return totalValidation()">Generate Coupon</button>
                      </form>
                    </div>
                  </div>
                </div>
              </section>
              
      
            </div>        
          </div>
        </div>
      </div>
  <div class="card mb-4">
       
        <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover" id="couponTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Expiry</th>

                            <th>Description</th>
                            <th>Discount Percent</th>
                            <th>Minimum Purchase</th>
                            <th>Maximum Discount</th>

                            <th class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                      <%coupons.forEach(function(object){%>
                          <tr>
                             <td><%=object.couponName%></td>
                             <td><%=object.code%></td>
                             <td><%=object.expiry%></td>
                             <td><%=object.description%></td>
                             <td><%=object.discountPercentage%>%</td>
                             <td><%=object.minPurchase%></td>
                             <td><%=object.maxDiscountValue%></td>
                          

                              <td class="text-end">
                                <a onclick="deleteCoupon('<%=object._id%>')"  class="btn btn-md rounded font-sm">Delete</a>
                                
                               </td>
                          </tr>
                         
                       <%})%> 
                        
                    </tbody>
                </table>
            </div> <!-- table-responsive//end -->
        </div>
        <!-- card-body end// -->
    </div>
  <!--pagination-->
<div class="pagination-area mt-15 mb-50">
  <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-start">
         
          <% for(let i = 1; i <= pages ; i++) { %>
          <li class="page-item"><a class="page-link" href="?page=<%= i %>" id="pagination"><%= i %></a></li>
          
          <% } %>
      </ul>
  </nav>
</div>
</section> <!-- content-main end// -->

<script>
  
  function deleteCoupon(id) {
    console.log("deleeadfghjk");
    swal({
    title: "Are you sure?",
    text: "Once deleted, you will not be able to recover the product!",
    icon: "warning",
    buttons: true,
    dangerMode: true,
  }).then((willDelete) => {
    if (willDelete) {
      $.ajax({
        url:'/admin/delete-coupon?id='+id, 
        type: 'GET',
        data: {
        couponId:id
        },
        success: function (response) {
          if (response.status) {
            console.log('hai',response.status)
            $(document).ready(function(){
            $('#couponTable').load(window.location.href + ' #couponTable ');
            })
          }
        }
      });
      swal("Your product is deleted!", {
        icon: "success",
      });
    } else {
      swal("Canceled");
    }
  });
  }
</script>
  