<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Offers</h2>
    </div>
    <div>
      <div>
      <select class="btn btn-md rounded dropdown-toggle" id="offerStatus" onchange="offerStatus()">
        <option selected hidden>OFFERS</option>
        <option>UnAvailable</option>
        <option>Available</option>
      </select>
    
      <button
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#exampleModalCenter"
      >
        Add Offer
      </button>
    </div>
    </div>
  </div>

  <!-- modal -->
  <div
    class="modal fade"
    id="exampleModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">

          <h5 class="modal-title" id="exampleModalLongTitle">Add Offer</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <section class="">
            <div class="container d-flex justify-content-center">
              <div class="row w-75 mt-5">
                <div class="col-md-12">
                  <h2 class="text-center">Add Offer</h2>

                  <form id="offerForm">
                    <label for="" style="margin-bottom: 15px">Category</label>

                    <select
                      name="categoryName"
                      class="form-control"
                      style="margin-bottom: 15px"
                      
                      required
                    >
                      <option
                        value=""
                        style="margin-bottom: 15px"
                        disabled
                        selected
                      >
                        Select a category
                      </option>
                      <% categories.forEach(function(ele){%>

                      <option style="margin-bottom: 15px">
                        <%=ele.CategoryName%>
                      </option>
                      <%})%>

                      <!-- JavaScript code will populate the options here -->
                    </select>
                    <label for="" style="margin-bottom: 15px"
                      >Offer Percentage</label
                    >
                    <input
                      type="text"
                      style="margin-bottom: 15px"
                      name="discountPercentage"
                      id="Quantity"
                      class="form-control"
                      required
                    />
                    <p style="color: red" id="QuantityError"></p>

                    <label for="" style="margin-bottom: 15px"
                      >Expiry Date</label
                    >
                    <input
                      type="date"
                      style="margin-bottom: 15px"
                      name="expiry"
                      class="form-control"
                      required
                    />

                    <button
                      style="margin-bottom: 20px"
                      class="btn btn-md rounded font-sm"
                      onclick="generateOffer(event)">
                      Generate Offer
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </section>
        </div>
       
      </div>
    </div>
  </div>

  <div class="card mb-4">
   
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover" id="couponTable">
          <thead>
            <tr>
            
              <th>Category</th>
              <th>Offer Percentage</th>

              <th>Offer Status</th>
              <th>Expiry Date</th>

              <th class="text-end">Action</th>
            </tr>
          </thead>
          <tbody id="offerList">
            <% offer.forEach(function(data){%>
            <tr>
              <td><%=data.CategoryName%></td>
              <td><%=data.offerPercentage%>%</td>
              <td><%=data.offerStatus%></td>
              <td><%=data.expirDate%></td>
              <td>
                <a class="btn btn-danger" onclick="removeOffer('<%=data.CategoryName %>')">RemoveOffer</a>
              </td>
            </tr>

            <%})%>
          </tbody>
        </table>
      </div>
      <!-- table-responsive//end -->
    </div>
    <!-- card-body end// -->
  </div>
</section>
<!-- content-main end// -->

<script>
 

  document.addEventListener("DOMContentLoaded", function () {
    // Fetch categories from the database
    fetchCategories()
      .then(function (categories) {
        // Get the select element
        var select = document.querySelector('select[name="categoryName"]');

        // Populate options with categories
        categories.forEach(function (category) {
          var option = document.createElement("option");
          option.value = category.CategoryName;
          option.text = category.CategoryName;
          select.appendChild(option);
        });
      })
      .catch(function (error) {
        console.error("Error fetching categories:", error);
      });
  });
  //generate offer
  function generateOffer(event) {
  event.preventDefault();
  console.log("data");
  $.ajax({
    url: "/admin/AddOffers",
    type: "POST",
    data: $("#offerForm").serialize(),
    success: function(response) {

      if (response.offerExist) {
        swal("Offer exists").then(()=>{
          location.reload()
        })
      } else {
        swal("Offer added successfully").then(()=>{
          location.reload()
        })
      }
    },
    error: function(xhr, status, error) {
      console.log(xhr.responseText); // Log the error response
      swal("Error occurred while adding the offer");
    }
  });
}

  


  function removeOffer(category){
    swal({
    title: "Are you sure?",
    text: "Do you want to disable the offer!",
    icon: "warning",
    buttons: true,
    dangerMode: true,
  }).then((willDelete) => {
    if (willDelete) {
      $.ajax({
        url:"/admin/removeOffer", 
        type:'GET',
        data: {
          category:category
        },
        success: function (response) {
          if (response) {
            location.reload();
          }
        }
      });
      swal("Your product is disabled!", {
        icon: "success",
      });
    } else {
      swal("Canceled");
    }
  });

  }
  function offerStatus(){
    status=document.getElementById('offerStatus').value
        console.log("asdfg",status);
        $.ajax({
            url:'/admin/offer-status',
            type:'get',
            data:{
              status  
            },
            success:(response)=>{
              let offerList=''
              for(let i=0;i<response.length;i++){
                offerList +=`<tr>
              <td>${response[i].CategoryName}</td>
              <td>${response[i].offerPercentage}%/td>
              <td>${response[i].offerStatus}</td>
              <td>${response[i].expirDate}</td>
              <td>
                <a class="btn btn-danger" onclick="removeOffer('${response[i].CategoryName}')">RemoveOffer</a>
              </td>
            </tr>
                `
              }
              document.getElementById('offerList').innerHTML=offerList
            }
          })
  }
</script>
