    
 <section class="content-main">
    <div class="container">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Orders </h2>
                    
                </div>
                <div>
                <div class="dropdown">
                    <select  class="btn btn-md rounded dropdown-toggle" id="orderStatus" onchange="OrderByStatus()">
                        <option selected hidden>Order Status</option>
                        <option>confirmed</option>
                        <option>Shipped</option>
                        <option>Cancelled</option>
                        <option>Delivered</option>
                        <option>Returned</option>
                    </select>
                </div>

                    <select  class="btn btn-md rounded dropdown-toggle" id="paymentMethord" onchange="OrderByPayment()">
                        <option selected hidden>Payment Methord</option>
                        <option>COD</option>
                        <option>Wallet</option>
                        <option>Razorpay</option>
                    </select>
                  </div>

            </div>
            <div class="card mb-4">
                
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Payment</th>
                                    <th scope="col">OrderStatus</th>
                                    <th scope="col">total</th>
                                    <th scope="col" class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody id="tableData">
                                <% order.forEach(function(object) { %>
                                <tr>
                                    <td><%=object.hashedId%></td>
                                    <td><%=object.CreatedAt.toLocaleDateString('en-GB')%></td>
                                    <td><%=object.paymentMethod%></td>
                                    <td><%=object.orderStatus%></td>
                                    <td>₹<%=object.totalPrice%></td>
                                    
                                    <td class="text-end">
                                        <a href="/admin/order-detail/<%=object._id%>" class="btn btn-md rounded font-sm">Detail</a>
                                         <!-- dropdown //end -->
                                    </td>
                                </tr>
                                
                                <%})%>
                            </tbody>
                    </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
 <!--pagination-->
<div class="pagination-area mt-15 mb-50">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-start">
           
            <% for(let i = 1; i <= pages ; i++) { %>
            <li class="page-item"><a class="page-link" href="?page=<%= i %>" id="pagination"><%= i %></a></li>
            
            <% } %>
        </ul>
    </nav>
  </div>
 </div>
</section>


<script>
    function OrderByPayment(){
        paymentData=document.getElementById('paymentMethord').value
        console.log("asdfg",paymentData);
            $.ajax({
              url: '/admin/orders-Payment',
              type: 'get',
              data:{
                paymentData:paymentData
            },
            success:(respons)=>{
                console.log(respons);
                let orders=''
                for(let i=0;i<respons.length;i++){
                    orders+=`
                                
                                <tr>
                                    <td>${respons[i].hashedId}</td>
                                    <td>${new Date(respons[i].CreatedAt).toLocaleDateString('en-GB')}</td>

                                    <td>${respons[i].paymentMethod}</td>
                                    <td>${respons[i].orderStatus}</td>
                                    <td>${respons[i].totalPrice}</td>
                                   
                                    
                                    <td class="text-end">
                                        <a href="/admin/order-detail/${respons[i]._id}" class="btn btn-md rounded font-sm">Detail</a>
                                       
                                </tr>
                                
                                
                            
                    ` 
                }
               document.getElementById('tableData').innerHTML=orders

            }
        })

    }
    function OrderByStatus(){
        status=document.getElementById('orderStatus').value
        console.log("asdfg",status);
            $.ajax({
              url: '/admin/orders-status',
              type: 'get',
              data:{
                status:status
            },
            success:(respons)=>{
                console.log(respons);
                let orders=''
                for(let i=0;i<respons.length;i++){
                    orders+=`
                                
                                <tr>
                                    <td>${respons[i].hashedId}</td>
                                    <td>${new Date(respons[i].CreatedAt).toLocaleDateString('en-GB')}</td>

                                    <td>${respons[i].paymentMethod}</td>
                                    <td>${respons[i].orderStatus}</td>
                                    <td>${respons[i].totalPrice}</td>
                                   
                                    
                                    <td class="text-end">
                                        <a href="/admin/order-detail/${respons[i]._id}" class="btn btn-md rounded font-sm">Detail</a>
                                       
                                </tr>
                                
                                
                            
                    ` 
                }
               document.getElementById('tableData').innerHTML=orders

            }
        })  
    }
</script>

    
    
        



