<section class="content-main">
    <div class="container">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Users </h2>
                    
                </div>
                <select  class="btn btn-md rounded dropdown-toggle" id="usersList" onchange="listUsers()">
                  <option selected hidden>Users</option>
                  <option>BlockedUsers</option>
                  <option>ActiveUsers</option>
                  
              </select>
            </div>
            <div class="card mb-4">
                
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    
                                    <th scope="col">No:</th>
                                    <th scope="col">User Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone Number</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Option</th>
                                </tr>
                            </thead>
                            <tbody id="tableBody">
                              <% user.forEach(function(user,index) { %>
                                <tr>
                                    <td><%=index+1 %> </td>
                                    <td><%= user.username %></td>
                                    <td><%= user.email %></td>
                                    <td><%= user.phonenumber %></td>
                                    <td>
                                      <%if(user.blocked){%>
                                        
                                        <h6>Blocked</h6>  
                                      <%}
                                      else{%>
                                       <h6>Active</h6>
                
                              
                                      <%}%>
                                        
                
                
                
                                  </td>
                                    <td>
                                      <%if(user.blocked){%>
                                        
                                        <a  class="btn btn-success" onclick="unblock('<%=user._id %>')">UnBlock</a>    
                                      <%}
                                      else{%>
                                        <a class="btn btn-danger" onclick="block('<%=user._id %>')">Block</a>
                                      <%}%>
                                  </td>   
                                </tr>
                                
                                <% }) %>
                            </tbody>
                    </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <!--pagination-->
<div class="pagination-area mt-15 mb-50">
  <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-start">
         
          <% for(let i = 1; i <= pages ; i++) { %>
          <li class="page-item"><a class="page-link" href="?page=<%= i %>" id="pagination"><%= i %></a></li>
          
          <% } %>
      </ul>
  </nav>
</div>
    </div>
        
</section>
<script>
  function unblock(userid){
    swal({
    title: "Are you sure?",
    text: "Do you want to Unblock this user!",
    icon: "warning",
    buttons: true,
    dangerMode: true,
  }).then((willDelete) => {
    if (willDelete) {
      $.ajax({
        url: `/admin/unblock_users/${userid}`, 
        type: 'GET',
        data: {
          userid: userid
        },
        success: function (response) {
          if (response) {
            location.reload();
          }
        }
      });
      swal("Your product is deleted!", {
        icon: "success",
      });
    } else {
      swal("Canceled");
    }
  });

  }
  //block the user
  function block(userid){
    swal({
    title: "Are you sure?",
    text: "Do you want to Block this user!",
    icon: "warning",
    buttons: true,
    dangerMode: true,
  }).then((willDelete) => {
    if (willDelete) {
      $.ajax({
        url: `/admin/block_users/${userid}`, 
        type: 'GET',
        data: {
          userid: userid
        },
        success: function (response) {
          if (response) {
            location.reload();
          }
        }
      });
      swal("Your product is deleted!", {
        icon: "success",
      });
    } else {
      swal("Canceled");
    }
  });

  }
  //List users
 function listUsers(){
  users=document.getElementById('usersList').value
        console.log("asdfg",users);
        $.ajax({
            url:'/admin/userList',
            type:'get',
            data:{
              users  
            },
            success:(response)=>{
              let userDataList=''
              response.forEach((user, index) => {
        userDataList += `
          <tr>
            <td>${index + 1}</td>
            <td>${user.username}</td>
            <td>${user.email}</td>
            <td>${user.phonenumber}</td>
            <td>
              ${user.blocked ? '<h6>Blocked</h6>' : '<h6>Active</h6>'}
            </td>
            <td>
              ${user.blocked ? 
                `<a class="btn btn-success" onclick="unblock('${user._id}')">Unblock</a>` :
                `<a class="btn btn-danger" onclick="block('${user._id}')">Block</a>`}
            </td>
          </tr>
        `;
      });
      document.getElementById('tableBody').innerHTML=userDataList

            }
        })
 }
</script>
    
  