 <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="#"><img src="/assets/imgs/theme/logo-color.png" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <div class="main-categori-wrap mobile-header-border">
                        <a href="/shop">
                            <span class="fi-rs-apps"></span> Browse Categories
                        </a>
                        
                    </div>
                    <!-- mobile menu start -->
            <nav>
                <ul class="mobile-menu">
                  <li class="menu-item-has-children">
                    <span class="menu-expand"></span><a href="/">Home</a>
                  </li>
                  <li class="menu-item-has-children">
                    <span class="menu-expand"></span><a href="/shop">Shop</a>
                  </li>
                 <% if(logheader == true){ %>
                  <li class="menu-item-has-children">
                    <span class="menu-expand"></span><a href="/viewOrders">Orders</a>
                  </li>
                  <li class="menu-item-has-children">
                    <span class="menu-expand"></span><a href="/logout">logout</a>
                  </li>
                  
                <% }else{ %>
                  <li class="menu-item-has-children">
                    <span class="menu-expand"></span><a href="/login">login</a>
                  </li>
                 
                  <% } %>
    
                  
                </ul>
              </nav>
              <!-- mobile menu end -->
                </div>
                
               
            </div>
        </div>
    </div>


    <!--main-->
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Checkout
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">

        
                    <!--card heading-->
                    <form id="placeorder">
                <div class="row">
                    
                    
                        <!--card end-->
                        <div class="col-md-6">
                            <%if(userAddress){%>
                            <div class="m-3">
                                <h4>Choose your Address</h4>
                            </div>
    
                            <div style="border:1px solid rgb(232, 231, 231);border-radius:.5rem;padding:1rem;">
    
                                
    
                                <table class="table table-striped">
                                    <%userAddress.Address.forEach(function(object){ %>
                                    <tr>
                                        <td>
                                            <input class="form-check-input ml-1" type="radio" name="addressId" value="<%=object._id%>" id="<%=object._id%>" checked="">
                                        </td>
    
                                        <td>
                                            <label for="<%=object._id %>" style="cursor:pointer;">
                                                <%=object.firstName%>
                                                <%=object.lastName%><br>
                                                <%=object.building%><br>
                                                <%=object. street%><br>
                                                <%=object. city%><br>
                                                <%=object.state%><br>
                                                <%=object.pincode%><br>
                                                <%=object.mobile%><br>
                                            
                                            </label>
                                        </td>
                                        <td>
                                            <a href="/editAddress/<%=object._id%>" class="btn btn-primary">Edit</a>
                                        </td>
                                    </tr>
                                    <% }) %>
                                </table>
                                
                                
                                
                                
                            </div>
                            <%}else{%>
                                <h4 id="addressCheck" value="false">Please add an address to deliver the products...</h4>
                                
                                <%}%>
                                <div class="p-3">
                                    <a href="/checkoutAddress" class="btn btn-primary">Add Address</a>
                                    
                                </div>
                            </div>
                        <!--address-->        
                    <div class="col-md-6">
                        <div class="order_review">
                            <div class="mb-20">
                                <h4>Your Orders</h4>
                            </div>
                            <div class="table-responsive order_table text-center">
                                <table class="table-hover" >
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% cartItems.forEach(function(object){ %>
                                        <tr>
                                            <td class="image product-thumbnail"><img src="/uploads/<%=object.cartItems.Image[0] %>" alt="#"></td>
                                            <td>
                                                <h5><a href="shop-product-full.html"><%= object.cartItems.Productname%></a></h5> <span class="product-qty">x <%=object.Quantity %></span>
                                            </td>
                                            
                                            <td class="text-right" data-title="Cart">
                                
                                                <% if (object?.cartItems?.offerPercentage) { %>
                                                  ₹<span  id="subTotal<%=object.item%>"><%= parseInt(object.Quantity) *Math.round((object?.cartItems.Price ?? 0) - ((object?.cartItems.Price ?? 0) * (object?.cartItems.offerPercentage ?? 0) / 100)) %></span>
                                                <% } else { %>
                                                  ₹<span id="subTotal<%=object.item%>"><%=parseInt(object.Quantity) *
                                                    parseInt(object.cartItems.Price)%></span>
                  
                                                <% } %>
                                            </td>
                                        </tr>
                                        
                                        
                                                
                                        <% }) %>
                                         
                                        <tr>
                                            <th>SubTotal</th>
                                            <td class="product-subtotal" colspan="2"><span class="font-xl text-brand fw-900">₹<%=grandtotal%></span> </td%>
                                        </tr>
                                        <tr>
                                            <th>Discount</th>
                                            <td class="product-subtotal" colspan="2" >₹<span class="font-xl text-brand fw-900" id="discount">0.00</span> </td%>
                                        </tr>
                                        <tr>
                                            <th>GrandTotal</th>
                                            <td class="product-subtotal" colspan="2" ">₹<span class="font-xl text-brand fw-900" id="Grandtoal"><%=grandtotal%></span> </td%>
                                        </tr>
                                       <input type="text" style="display: none;" id="totalhidden" value="<%=grandtotal%>" name="totalhidden"> 
                                       <input type="text" style="display: none;" id="discountHidden" value="" name="discountHidden">
                                        
                                     </tbody>
                                </table>
                            </div>
                            <!---coupon-->
                            <div class="mb-30 mt-50">
                                <div class=" mt-50">
                                    <div class="heading_s1 mb-3">
                                        <h4>Apply Coupon</h4>
                                    </div>
                                    <div class="total-amount">
                                        <div class="left">
                                            <div class="coupon">
                                                <form id="couponForm">
                                                    <div class="form-row row justify-content-center">
                                                        <div class="form-group col-lg-6">
                                                            <input class="font-medium" name="Coupon" id="couponApply" placeholder="Enter Your Coupon">
                                                        </div>
                                                        <div class="form-group col-lg-6">
                                                            <button class="btn  btn-sm" onclick="couponCheck(event)" ><i class="fi-rs-label mr-10"></i>Apply</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                                
                                    <a  data-bs-toggle="modal" data-bs-target="#available-coupons"
                                        data-bs-whatever="@mdo" id="couponButton" onclick="availableCoupon('<%=grandtotal%>')"><i class="bi bi-view-list"></i>
                                        Available coupons</a>
                            
                            
                            
                            
                            <!-- coupon-show-modal-start -->
                                    <div class="modal fade" id="available-coupons" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" onclick="getCoupons()" id="exampleModalLabel" style="color: #088178;">
                                            Available coupons</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div>
                                        <div>
                                            
                                            <div class="card">
                                                <div class="card-body">
                                                    <ul id="couponContainor">
                                                        <li>
                                                            <h4><a>copycode</a></h4>
                                                            <button class="copy-code-btn"
                                                                data-clipboard-text="copycode">Copy
                                                                code</button>
                                                            <p>discountPercentage% discount</p>
                                                            <p>Valid till: formatDate endDate</p>
                                                        </li>
                                                        <hr>
                                                    </ul>
                                                </div>
                                            </div> <!-- card end// -->
                                            
                                        </div>
                            
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            
                            </div>
                            <!--coupon end-->
                            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                            <div class="payment_method">
                                <div class="mb-25">
                                    <h5>Payment</h5>
                                </div>
                                <div class="payment_option">
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios3" checked="" value="COD">
                                        <label class="form-check-label" for="exampleRadios3" data-bs-toggle="collapse" data-target="#bankTranfer" aria-controls="bankTranfer">Cash On Delivery</label>
                                        <div class="form-group collapse in" id="bankTranfer">
                                            <p class="text-muted mt-5">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration. </p>
                                        </div>
                                    </div>
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios4" checked="" value="Razorpay">
                                        <label class="form-check-label" for="exampleRadios4" data-bs-toggle="collapse" data-target="#checkPayment" aria-controls="checkPayment">Razorpay</label>
                                        <div class="form-group collapse in" id="checkPayment">
                                            <p class="text-muted mt-5">Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode. </p>
                                        </div>
                                    </div>
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios5" checked="" value="Wallet" onclick="walletCheck()">
                                        <label class="form-check-label" for="exampleRadios5" data-bs-toggle="collapse" data-target="#wallet" aria-controls="paypal">Wallet</label>
                                        <div class="form-group collapse in" id="wallet">
                                            <p class="text-muted mt-5">Pay via PayPal; you can pay with your credit card if you don't have a PayPal account.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-fill-out btn-block mt-30" onclick="placeOrder(event)">Place Order</button> 
                        </div>
                    </div>
                </div>
            
            </form>
            </div>
        </section>
    </main>
    <footer class="main">
        <section class="newsletter p-30 text-white wow fadeIn animated">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-md-3 mb-lg-0">
                        <div class="row align-items-center">
                            <div class="col flex-horizontal-center">
                                <img class="icon-email" src="assets/imgs/theme/icons/icon-email.svg" alt="">
                                <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                            </div>
                            <div class="col my-4 my-md-0 des">
                                <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>get coupon for first shopping.</strong></h5>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
       
      
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
     
       

        function availableCoupon(total) {
  $.ajax({
    url: '/available-coupon',
    type: 'get',
    data: {
      total: total
    },
    success: function (response) {
      let couponContainor = '';
      for (let i = 0; i < response.length; i++) {
        couponContainor += `<li>
          <button class="copy-code-btn  id="available-coupons"
            onclick="selectcoupon('${response[i].code}')"
            data-clipboard-text="copycode">
            ${response[i].code}
          </button>
          <p>discountPercentage: ${response[i].discountPercentage}%</p>
          <p>Valid till: ${response[i].expiry}</p>
        </li>`;
      }
      document.getElementById('couponContainor').innerHTML = couponContainor;
    }
  });
}

function selectcoupon(couponData) {
    event.preventDefault();
 document.getElementById('couponApply').value=couponData;

$('#available-coupons').modal('hide');
}
function couponCheck(event) {

    
            event.preventDefault()
            // let formdata =$('#couponForm').serialize()
            let couponData = document.getElementById('couponApply').value;
            console.log("asdfghjk",couponData);
            if(couponData!=''){
            
            $.ajax({
                url:'/apply-coupon',
                type:'post',
                data:{
                    couponData:couponData
                },
                success:function(response){
                    console.log("...response,",response);
                   
                  if(response.couponValid){
                    
                    let totalAmt= response.totalAmount
                    document.getElementById('Grandtoal').innerHTML=Math.round(totalAmt)
                    document.getElementById('totalhidden').value=Math.round(totalAmt)
                    let discountamount=response.discount
                    document.getElementById('discount').innerHTML= Math.round(discountamount)
                    document.getElementById('discountHidden').value= Math.round(discountamount)
                    swal('Coupon Applied')


                    
                    
                    
                  } else if(response.AlreadyUsed){
                            swal("coupon already used!!!")
                            document.getElementById('couponApply').value=''
                
                 
                  }else if(response.CouponExpired){

                    swal("coupon expired!!!")
                    document.getElementById('couponApply').value=''

                  }else if(response.nocoupon){
                    swal("enter valid coupon")
                    document.getElementById('couponApply').value=''

                  }else if(response.invalidCoupon){
                    swal('Coupon not Applicable')
                    document.getElementById('couponApply').value=''


                  }
                    
                }
            })
            }else{
                swal("enter valid coupon")
                    document.getElementById('couponApply').value=''
            }
        } 


        function placeOrder(event) {
            event.preventDefault()
            
            $.ajax({
                url:'/shop-checkout',
                type:'post',
                data:$('#placeorder').serialize(),
                success:function(response){
                    console.log('response',response);
                    if(response.noAddress){
                        console.log('noadresswal');
                        swal('add address and continue...').then(()=>{
                            location.reload()
                        })
                    }else{
                    if(response.COD){
                        swal('order placed succesfully').then(()=>{
                            location.href='/view-order-products/'+response.OrderID

                        })
                    
                 
                   
                    

                    }else if(response.Razorpay){
                        
                        getRazorpay(response)
                    }else{

                         swal('order placed succesfully').then(()=>{
                            location.href='/view-order-products/'+response.OrderID

                        })
                        
                    }
                }
                }
            })
        } 




//razorpay function
        
function getRazorpay(order){
        var options = {
            "key": 'rzp_test_ZwwsNM15EYQNSE', // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Acme Corp", //your business name
            "description": "Test Transaction",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
                verifyPayment(order, response);
            },
            "prefill": {
                "name": "Gaurav Kumar", //your customer's name
                "email": "gaurav.kumar@example.com",
                "contact": "9000090000"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.on('payment.failed', function (response) {
            alert(response.error.code);
            alert(response.error.description);
            alert(response.error.source);
            alert(response.error.step);
            alert(response.error.reason);
            alert(response.error.metadata.order_id);
            alert(response.error.metadata.payment_id);
        });
        rzp1.open();
    }


    const verifyPayment = (payment, order) => {
       
        $.ajax({
            type: "post",
            url: '/verify-payment',
            data: {
                payment,
                order
            },
            success: (response) => {
               
                if(response) {
                    swal({
                        title: "Order placed Successfully",
                  
                        
                    });
                    location.href='/view-order-products/'+response.orderId

                    
                
                }
            }
        })
    }

//check wallet amount

function walletCheck(){
    let grandTotal=document.getElementById('Grandtoal').innerText
console.log("asdfghjkl",grandTotal);
    $.ajax({
                url:'/walletAmt-check',
                type:'get',
                data:{
                    grandTotal 
                },
                success:function(response){
                    console.log("asdf:",response);
                    swal("insufficient amount...")
                   
                }
            })


}
        
</script>


 