<div class="mobile-header-active mobile-header-wrapper-style">
  <div class="mobile-header-wrapper-inner">
      <div class="mobile-header-top">
          <div class="mobile-header-logo">
              <a href="#"><img src="/assets/imgs/theme/logo-color.png" alt="logo"></a>
          </div>
          <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
              <button class="close-style search-close">
                  <i class="icon-top"></i>
                  <i class="icon-bottom"></i>
              </button>
          </div>
      </div>
      <div class="mobile-header-content-area">
          <div class="mobile-search search-style-3 mobile-header-border">
              <form action="#">
                  <input type="text" placeholder="Search for items…">
                  <button type="submit"><i class="fi-rs-search"></i></button>
              </form>
          </div>
          <div class="mobile-menu-wrap mobile-header-border">
              <div class="main-categori-wrap mobile-header-border">
                  <a href="/shop">
                      <span class="fi-rs-apps"></span> Browse Categories
                  </a>
                  
              </div>
              <!-- mobile menu start -->
      <nav>
          <ul class="mobile-menu">
            <li class="menu-item-has-children">
              <span class="menu-expand"></span><a href="/">Home</a>
            </li>
            <li class="menu-item-has-children">
              <span class="menu-expand"></span><a href="/shop">Shop</a>
            </li>
           <% if(logheader == true){ %>
            <li class="menu-item-has-children">
              <span class="menu-expand"></span><a href="/viewOrders">Orders</a>
            </li>
            <li class="menu-item-has-children">
              <span class="menu-expand"></span><a href="/logout">logout</a>
            </li>
            
          <% }else{ %>
            <li class="menu-item-has-children">
              <span class="menu-expand"></span><a href="/login">login</a>
            </li>
           
            <% } %>

            
          </ul>
        </nav>
        <!-- mobile menu end -->
          </div>
          
         
      </div>
  </div>
</div>
  <!-- Quick view -->
 
  <main class="main">
      
      <section class="mt-50 mb-50">
          <div class="container">
              <div class="row flex-row-reverse">
                  <div class="col-lg-9">
                     
                    <div class="row product-grid-3" id="catrgory">
                    <%if(userId){%>
                          <% response.forEach(function(data) { %>

                          <div class="col-lg-4 col-md-4 col-12 col-sm-6">


                              <div class="product-cart-wrap mb-30">
                                  <div class="product-img-action-wrap">
                                      <div class="product-img product-img-zoom">
                                          <a href=" /product-detail/<%=data._id%> ">
                                              <img class="default-img" src="/uploads/<%= data.Image[0] %>"  alt="">
                                              <!-- <img class="hover-img" src="assets/imgs/shop/product-7-1.jpg" alt=""> -->
                                          </a>
                                      </div>
                                      <div class="product-action-1">
                                          
                                          <a aria-label="Add To Wishlist" class="action-btn hover-up" onclick="addToWishlist('<%= data._id%>')" ><i class="fi-rs-heart"></i></a>
                                         
                                      </div>
                                      <div class="product-badges product-badges-position product-badges-mrg">
                                          
                                      </div>
                                  </div>
                                  <div class="product-content-wrap">
                                      <div class="product-category">
                                          <a href=#><%=data.category%></a>
                                      </div>
                                      <h2><a href="/product-detail/<%=data._id%>" > <%=data.Productname%></a></h2>
                                      <div class="rating-result" title="90%">
                                        <% if(data?.offerPercentage){%>
                                          <span>
                                              <span><%=data.offerPercentage ?? ''%>%</span>
                                          </span>
                                          <%}%>
                                      </div>
                                      <div class="product-price primary-color float-left">
                                        <%if(data?.offerPercentage){%>
                                        <span class="text-brand">₹<%= Math.round((data?.Price ?? 0) - ((data?.Price ?? 0) * (data?.offerPercentage ?? 0) / 100)) %></span>
                                            <span class="old-price">₹<%=data.Price%></span>   
                                        <%}else{%>
                                           <span class="text-brand">₹<%=data.Price%></span>
                                        <%}%>
                                        
                                        
                                    </div> 

                                     
                                     
                                      <div class="product-action-1 show">
                                          <a aria-label="Add To Cart" class="action-btn hover-up" onclick="addToCart('<%=data._id%>')"><i class="fi-rs-shopping-bag-add"></i></a>
                                      </div>
                                     

                                  </div>
                              </div>
                          </div>
                        <% }) %>
                    <%}else{%>
                            <% response.forEach(function(data) { %>

                                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
      
      
                                    <div class="product-cart-wrap mb-30">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <a href="/uploads/<%= data.Image[0]%>">
                                                    <img class="default-img" src="/uploads/<%= data.Image[0] %>" alt="">
                                                    <!-- <img class="hover-img" src="assets/imgs/shop/product-7-1.jpg" alt=""> -->
                                                </a>
                                            </div>
                                            <div class="product-action-1">
                                               
                                                <a  href="/login" aria-label="Add To Wishlist" class="action-btn hover-up" ><i class="fi-rs-heart"></i></a>
                                               
                                            </div>
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-category">
                                                <a href=#><%=data.category%></a>
                                            </div>
                                            <h2><a href="/product-detail/<%=data._id%>" > <%=data.Productname%></a></h2>
                                            <div class="rating-result" title="90%">
                                               <% if(data?.offerPercentage){%>
                                                <span>
                                                     <span><%=data?.offerPercentage%>%</span> 
                                                </span>
                                                <%}%>
                                            </div>
      
      
                                            <div class="product-price primary-color float-left">
                                                <%if(data?.offerPercentage){%>
                                                <span class="text-brand">₹<%= Math.round((data?.Price ?? 0) - ((data?.Price ?? 0) * (data?.offerPercentage ?? 0) / 100)) %></span>
                                                    <span class="old-price">₹<%=data.Price%></span>   
                                                <%}else{%>
                                                   <span class="text-brand">₹<%=data.Price%></span>
                                                <%}%>
                                                
                                                
                                            </div> 
                                            <!-- addto cart -->
                                           
                                            <div class="product-action-1 show">
                                                <a href="/login" aria-label="Add To Cart" class="action-btn hover-up" ><i class="fi-rs-shopping-bag-add"></i></a>
                                            </div>
                                           
      
                                        </div>
                                    </div>
                                </div>
                            <%})%>
                        <%}%>

                      </div>
                      <!--pagination-->
                      <!--pagination-->
                      <div class="pagination-area mt-15 mb-50">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                <!-- <li class="page-item active"><a class="page-link" href="#">01</a></li> -->
                                <% for(let i = 1; i <= pages ; i++) { %>
                                <li class="page-item"><a class="page-link" href="?page=<%= i %>" id="pagination"><%= i %></a></li>
                                
                                <% } %>
                            </ul>
                        </nav>
                    </div>
                      
                  </div>
               
                  <div class="col-lg-3 primary-sidebar sticky-sidebar">
                    <div>Filter By Price
                        <select  id="shopbyPrice" onchange="shopByPrice()">
                            <option selected hidden>Choose..</option>
                            <option>Low to high</option>
                            <option>High to low</option>
                        </select>
                    </div>

                      <div class="widget-category mb-30">
                          <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                          <ul class="categories">
                            <% procategory.forEach(function(procategory,index) { %>
                              <li id="<%= procategory._id%>" style="cursor: pointer;" onclick="productcategory('<%= procategory.CategoryName %>','<%= procategory._id%>')"><%= procategory.CategoryName %> </li>
                              <% }) %>
                          </ul>
                          
                      </div>
                      
                      
                  </div>
              </div>
          </div>
      </section>
  </main>
  

<script>
    //add to cart
   function addToCart(id){
    $.ajax({
      url:'/add-to-cart/' + id,
      method:'get',
      data: id,
      success: (response) => {
         
        if(response.outOfStock){
            
            swal({
                title: 'OUT OF STOCK',
                text: '',
                icon: 'danger',
                timer: 5000
            }).then(()=>{
                location.href='/shop'
            })
        }else{

            swal({
                title: 'Add To Cart',
                text: 'Added to cart successfully',
                icon: 'success',
                timer: 5000
            }).then(()=>{
                location.reload();
            })
            
        }
      }
    })
    

   }


   function addToWishlist(proId) {
    
  swal({
    title: "Are you sure ?",
     icon: "",
    buttons: true,
    
  }).then((willAdd) => {
    if (willAdd) {
        $.ajax({
            url:'/addto-wishlist',
            type:'post',
            data: {
                proId:proId
            },
        success: function (response) {
          if (response) {
            location.reload();
          }
        }
      });
      swal("Your product is Added to wishlist!", {
        icon: "success",
      });
    } else {
      swal("Canceled");
    }
  });

}






function productcategory(data, id) {
  // indication of selected category
  var navLinks = document.querySelectorAll('.categories li');
  for (var i = 0; i < navLinks.length; i++) {
    navLinks[i].classList.remove('indica');
  }
  document.getElementById(id).classList.add('indica');

  selectedCategory = data;

  $.ajax({
    url: '/shop-category',
    type: 'get',
    data: {
      data: selectedCategory
    },
    success: function (result) {
      console.log(result);
      let categoryProducts = '';
      for (let i = 0; i < result.length; i++) {
        const product = result[i];
        let priceHtml = '';
        if (product.offerPercentage) {
          const discountedPrice = Math.round(product.Price - (product.Price * product.offerPercentage / 100));
          priceHtml = `<span class="text-brand">₹${discountedPrice}</span><span class="old-price">₹${product.Price}</span>`;
        } else {
          priceHtml = `<span class="text-brand">₹${product.Price}</span>`;
        }
        
        categoryProducts += `
          <div class="col-lg-4 col-md-4 col-12 col-sm-6">
            <div class="product-cart-wrap mb-30">
              <div class="product-img-action-wrap">
                <div class="product-img product-img-zoom">
                  <a href="/uploads/${product.Image[0]}">
                    <img class="default-img" src="/uploads/${product.Image[0]}" alt="">
                  </a>
                </div>
                <div class="product-action-1">
                  <a aria-label="Add To Wishlist" class="action-btn hover-up" onclick="addToWishlist('${product._id}')">
                    <i class="fi-rs-heart"></i>
                  </a>
                </div>
                <div class="product-badges product-badges-position product-badges-mrg">
                </div>
              </div>
              <div class="product-content-wrap">
                <div class="product-category">
                  <a href="#">${product.category}</a>
                </div>
                <h2>
                  <a href="/product-detail/${product._id}">${product.Productname}</a>
                </h2>
                <div class="rating-result" title="90%">
                 ${product?.offerPercentage ? `<span>${product.offerPercentage}%</span>` : ''}
                </div>

                <div class="product-price primary-color float-left">
                  ${priceHtml}
                </div>
                <div class="product-action-1 show">
                  <a aria-label="Add To Cart" class="action-btn hover-up" onclick="addToCart('${product._id}')">
                    <i class="fi-rs-shopping-bag-add"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>`;
      }
      document.getElementById('catrgory').innerHTML = categoryProducts;
    }
  });
}

//filtered by price
function shopByPrice(){
    let data=document.getElementById('shopbyPrice').value
    let category=data
    console.log(category);
    $.ajax({
      url:'/sortByPrice',
      method:'get',
      data:{
        data,
        category

      },
      
      success: (result) => {
        let product=''
        for(i=0;i<result.length;i++){
          let priceHtml = '';
        if (result[i].offerPercentage) {
          const discountedPrice = Math.round(result[i].Price - (result[i].Price * result[i].offerPercentage / 100));
          priceHtml = `<span class="text-brand">₹${discountedPrice}</span><span class="old-price">₹${result[i].Price}</span>`;
        } else {
          priceHtml = `<span class="text-brand">₹${result[i].Price}</span>`;
        }
            product += `<div class="col-lg-4 col-md-4 col-12 col-sm-6">


<div class="product-cart-wrap mb-30">
    <div class="product-img-action-wrap">
        <div class="product-img product-img-zoom">
            <a href="/uploads/${result[i].Image[0]}">
                <img class="default-img" src="/uploads/${result[i].Image[0]}" alt="">
                <!-- <img class="hover-img" src="assets/imgs/shop/product-7-1.jpg" alt=""> -->
            </a>
        </div>
        <div class="product-action-1">
             
            <a aria-label="Add To Wishlist" class="action-btn hover-up" onclick="addToWishlist('${result[i]._id}')" ><i class="fi-rs-heart"></i></a>
            
        </div>
        <div class="product-badges product-badges-position product-badges-mrg">
            
        </div>
    </div>
    <div class="product-content-wrap">
        <div class="product-category">
            <a href=#>${result[i].category}</a>
        </div>
        <h2><a href="/product-detail/${result[i]._id}" > ${result[i].Productname}</a></h2>
        <div class="rating-result" title="90%">
                 ${result[i]?.offerPercentage ? `<span>${result[i].offerPercentage}%</span>` : ''}
                </div>


        <div class="product-price">
          ${priceHtml}
        
        </div>
        <div class="product-action-1 show">
            <a aria-label="Add To Cart" class="action-btn hover-up" onclick="addToCart('${result[i]._id}')"><i class="fi-rs-shopping-bag-add"></i></a>
        </div>
    </div>
</div>
</div>`
        }
        document.getElementById('catrgory').innerHTML=product
         
        
            
      }
    })

}
</script>

