<body>
  <!-- Quick view -->
 
  <main class="main">
      
      <section class="mt-50 mb-50">
          <div class="container">
              <div class="row flex-row-reverse">
                  <div class="col-lg-9">
                     
                      <div class="row product-grid-3" id="catrgory">
                        <%if(userId){%>
                          <% response.forEach(function(response,index) { %>

                          <div class="col-lg-4 col-md-4 col-12 col-sm-6">


                              <div class="product-cart-wrap mb-30">
                                  <div class="product-img-action-wrap">
                                      <div class="product-img product-img-zoom">
                                          <a href="/uploads/<%= response.Image[0]%>">
                                              <img class="default-img" src="/uploads/<%= response.Image[0] %>" alt="">
                                              <!-- <img class="hover-img" src="assets/imgs/shop/product-7-1.jpg" alt=""> -->
                                          </a>
                                      </div>
                                      <div class="product-action-1">
                                          
                                          <a aria-label="Add To Wishlist" class="action-btn hover-up" onclick="addToWishlist('<%= response._id%>')" ><i class="fi-rs-heart"></i></a>
                                         
                                      </div>
                                      <div class="product-badges product-badges-position product-badges-mrg">
                                          
                                      </div>
                                  </div>
                                  <div class="product-content-wrap">
                                      <div class="product-category">
                                          <a href=#><%=response.category%></a>
                                      </div>
                                      <h2><a href="/product-detail/<%=response._id%>" > <%=response.Productname%></a></h2>
                                      <div class="rating-result" title="90%">
                                          <span>
                                              <span>95%</span>
                                          </span>
                                      </div>


                                      <div class="product-price">
                                          <span><%=response.Price%></span>
                                      
                                      </div>
                                      <!--addto cart-->
                                     
                                      <div class="product-action-1 show">
                                          <a aria-label="Add To Cart" class="action-btn hover-up" onclick="addToCart('<%=response._id%>')"><i class="fi-rs-shopping-bag-add"></i></a>
                                      </div>
                                     

                                  </div>
                              </div>
                          </div>
                           <% }) %>
                           <%}else{%>
                            <% response.forEach(function(response,index) { %>

                                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
      
      
                                    <div class="product-cart-wrap mb-30">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <a href="/uploads/<%= response.Image[0]%>">
                                                    <img class="default-img" src="/uploads/<%= response.Image[0] %>" alt="">
                                                    <!-- <img class="hover-img" src="assets/imgs/shop/product-7-1.jpg" alt=""> -->
                                                </a>
                                            </div>
                                            <div class="product-action-1">
                                               
                                                <a  href="/login" aria-label="Add To Wishlist" class="action-btn hover-up" ><i class="fi-rs-heart"></i></a>
                                               
                                            </div>
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-category">
                                                <a href=#><%=response.category%></a>
                                            </div>
                                            <h2><a href="/product-detail/<%=response._id%>" > <%=response.Productname%></a></h2>
                                            <div class="rating-result" title="90%">
                                                <span>
                                                    <span>95%</span>
                                                </span>
                                            </div>
      
      
                                            <div class="product-price">
                                                <span><%=response.Price%></span>
                                            
                                            </div>
                                            <!--addto cart-->
                                           
                                            <div class="product-action-1 show">
                                                <a href="/login" aria-label="Add To Cart" class="action-btn hover-up" ><i class="fi-rs-shopping-bag-add"></i></a>
                                            </div>
                                           
      
                                        </div>
                                    </div>
                                </div>
                                 <%})%>
                                 <%}%>

                      </div>
                      <!--pagination-->
                      <!--pagination-->
                      <div class="pagination-area mt-15 mb-50">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                <!-- <li class="page-item active"><a class="page-link" href="#">01</a></li> -->
                                <% for(let i = 1; i <= pages ; i++) { %>
                                <li class="page-item"><a class="page-link" href="?page=<%= i %>" id="pagination"><%= i %></a></li>
                                
                                <% } %>
                            </ul>
                        </nav>
                    </div>
                      
                  </div>
               
                  <div class="col-lg-3 primary-sidebar sticky-sidebar">
                    <div>Filter By Price
                        <select  id="shopbyPrice" onchange="shopByPrice()">
                            <option selected hidden>Choose..</option>
                            <option>Low to high</option>
                            <option>High to low</option>
                        </select>
                    </div>

                      <div class="widget-category mb-30">
                          <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                          <ul class="categories">
                            <% procategory.forEach(function(procategory,index) { %>
                              <li id="<%= procategory._id%>" style="cursor: pointer;" onclick="productcategory('<%= procategory.CategoryName %>','<%= procategory._id%>')"><%= procategory.CategoryName %> </li>
                              <% }) %>
                          </ul>
                          
                      </div>
                      
                      
                  </div>
              </div>
          </div>
      </section>
  </main>
  
</body>
<script>
    //add to cart
   function addToCart(id){
    $.ajax({
      url:'/add-to-cart/' + id,
      method:'get',
      data: id,
      success: (response) => {
         
        if(response.outOfStock){
            
            swal({
                title: 'OUT OF STOCK',
                text: '',
                icon: 'danger',
                timer: 5000
            }).then(()=>{
                location.href='/shop'
            })
        }else{

            swal({
                title: 'Add To Cart',
                text: 'Added to cart successfully',
                icon: 'success',
                timer: 5000
            }).then(()=>{
                location.href='/shop'
            })
            
        }
      }
    })
    

   }


   function addToWishlist(proId) {
    
  swal({
    title: "Are you sure ?",
     icon: "",
    buttons: true,
    
  }).then((willAdd) => {
    if (willAdd) {
        $.ajax({
            url:'/addto-wishlist',
            type:'post',
            data: {
                proId:proId
            },
        success: function (response) {
          if (response) {
            location.reload();
          }
        }
      });
      swal("Your product is Added to wishlist!", {
        icon: "success",
      });
    } else {
      swal("Canceled");
    }
  });

}



//   //  add to wishlist
//     function addToWishlist(proId) {
//         $.ajax({
//             url:'/addto-wishlist',
//             type:'post',
//             data: {
//                 proId:proId
//             },
//             success:function(response){
//             swal("Your product is added to wishlist!");
//             setTimeout(function() {
//                 location.reload();
//             }, 5000); // Delay of 2 seconds (2000 milliseconds)
//         }
            
//         })
//         location.reload();
//     }
 //list product based on category
 var selectedCategory=''
function productcategory(data,id){
//indicaion of seleted category
    var navLinks = document.querySelectorAll('.categories li');   
    for (var i = 0; i < navLinks.length; i++) {
        navLinks[i].classList.remove('indica');
       
    }
    document.getElementById(id).classList.add('indica')
    // document.getElementById(id).style.color='blue'
    
    
    selectedCategory = data
    
    $.ajax({
        url:'/shop-category',
        type:'get',
        data:{
            data
        },
        success:function(result){
            console.log(result);
            let categoryProducts=''
            for(let i=0;i<result.length;i++){
                categoryProducts+=`
                <div class="col-lg-4 col-md-4 col-12 col-sm-6">


<div class="product-cart-wrap mb-30">
    <div class="product-img-action-wrap">
        <div class="product-img product-img-zoom">
            <a href="/uploads/${result[i].Image[0]}">
                <img class="default-img" src="/uploads/${result[i].Image[0]}" alt="">
                <!-- <img class="hover-img" src="assets/imgs/shop/product-7-1.jpg" alt=""> -->
            </a>
        </div>
        <div class="product-action-1">
           
            <a aria-label="Add To Wishlist" class="action-btn hover-up" onclick="addToWishlist('${result[i]._id}')" ><i class="fi-rs-heart"></i></a>
           
        </div>
        <div class="product-badges product-badges-position product-badges-mrg">
            
        </div>
    </div>
    <div class="product-content-wrap">
        <div class="product-category">
            <a href=#>${result[i].category}</a>
        </div>
        <h2><a href="/product-detail/${result[i]._id}" > ${result[i].Productname}</a></h2>
        <div class="rating-result" title="90%">
            <span>
                <span>95%</span>
            </span>
        </div>


        <div class="product-price">
            <span>${result[i].Price}</span>
        
        </div>
        <div class="product-action-1 show">
            <a aria-label="Add To Cart" class="action-btn hover-up" href="shop-cart.html"><i class="fi-rs-shopping-bag-add"></i></a>
        </div>
    </div>
</div>
</div>`
            }
            document.getElementById('catrgory').innerHTML=categoryProducts
        }
    })
}     

//filtered by price
function shopByPrice(){
    let data=document.getElementById('shopbyPrice').value
    let category=selectedCategory
    console.log(category);
    $.ajax({
      url:'/sortByPrice',
      method:'get',
      data:{
        data,
        category

      },
      
      success: (result) => {
        let product=''
        for(i=0;i<result.length;i++){
            product += `<div class="col-lg-4 col-md-4 col-12 col-sm-6">


<div class="product-cart-wrap mb-30">
    <div class="product-img-action-wrap">
        <div class="product-img product-img-zoom">
            <a href="/uploads/${result[i].Image[0]}">
                <img class="default-img" src="/uploads/${result[i].Image[0]}" alt="">
                <!-- <img class="hover-img" src="assets/imgs/shop/product-7-1.jpg" alt=""> -->
            </a>
        </div>
        <div class="product-action-1">
             
            <a aria-label="Add To Wishlist" class="action-btn hover-up" onclick="addToWishlist('${result[i]._id}')" ><i class="fi-rs-heart"></i></a>
            
        </div>
        <div class="product-badges product-badges-position product-badges-mrg">
            
        </div>
    </div>
    <div class="product-content-wrap">
        <div class="product-category">
            <a href=#>${result[i].category}</a>
        </div>
        <h2><a href="/product-detail/${result[i]._id}" > ${result[i].Productname}</a></h2>
        <div class="rating-result" title="90%">
            <span>
                <span>95%</span>
            </span>
        </div>


        <div class="product-price">
            <span>${result[i].Price}</span>
        
        </div>
        <div class="product-action-1 show">
            <a aria-label="Add To Cart" class="action-btn hover-up" href="shop-cart.html"><i class="fi-rs-shopping-bag-add"></i></a>
        </div>
    </div>
</div>
</div>`
        }
        document.getElementById('catrgory').innerHTML=product
         
        
            
      }
    })

}
</script>

<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-grid-left.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:43 GMT -->