<main class="main-wrap">
   
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Order detail</h2>
                
            </div>
        </div>
        <div class="card">
            <header class="card-header">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                        <span>
                            <i class="material-icons md-calendar_today"></i> <b>Wed, Aug 13, 2020, 4:34PM</b>
                        </span> <br>
                        <small class="text-muted">Order ID: 3453012</small>
                    </div>
                    <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                       
                        <!-- <a class="btn btn-primary" href="#">Return</a> -->
                        <button class="btn btn-primary" onclick="productReturn('<%=orderDetails._id%>')">Return</button>
                       
                    </div>
                </div>
            </header> <!-- card-header end// -->
            <div class="card-body">
                <div class="row mb-50 mt-20 order-info-wrap">
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-person"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Customer</h6>
                                <p class="mb-1">
                                    <%=orderDetails.name%><br> <template class="__cf_email__" data-cfemail="e2838e879aa2879a838f928e87cc818d8f">[email&#160;protected]</template> <br>  <%=orderDetails.shippingAddress[0].mobile%>
                                </p>
                                <!-- <a href="#">View profile</a> -->
                            </div>
                        </article>
                    </div> <!-- col// -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-local_shipping"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Order info</h6>
                                <p class="mb-1">
                                    Shipping: Fargo express <br> Pay method: <%=orderDetails.paymentMethod%> <br> Status: <%=orderDetails.orderStatus%>
                                </p>
                                <!-- <a href="#">Download info</a> -->
                            </div>
                        </article>
                    </div> <!-- col// -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-place"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Deliver to</h6>
                                <p class="mb-1">
                                    City: <%=orderDetails.shippingAddress[0].city%><br> <%=orderDetails.shippingAddress[0].building%>, <%=orderDetails.shippingAddress[0].street%><br> ZIP: <%=orderDetails.shippingAddress[0].pincode%>
                                </p>
                                
                            </div>
                        </article>
                    </div> <!-- col// -->
                </div> <!-- row // -->
                <div class="row">
                    <div class="col-lg-7">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="40%">Product</th>
                                        <th width="20%">Unit Price</th>
                                        <th width="20%">Quantity</th>
                                        <th width="20%" class="text-end">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%orderDetails.productDetails.forEach(function(object){ %>
                                    <tr>
                                        <td>
                                            <a class="itemside" href="#">
                                                <div class="left">
                                                    <img src="/uploads/<%=object.cartItems.Image[0]%>" width="40" height="40" class="img-xs" alt="Item">
                                                </div>
                                                <div class="info"> <%=object.cartItems.Productname %></div>
                                            </a>
                                        </td>
                                        <td> <%=object.cartItems.Price%> </td>
                                        <td> <%=object.Quantity%> </td>
                                        <td class="text-end"><%=(object.cartItems.Price * object.Quantity).toLocaleString("en-IN",{
                                            style: "currency",
                                            currency: "INR",
                                            minimumFractionDigits: 2,
                                            maximumFractionDigits: 2,
                                          } );%> </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            <article class="float-end">
                                                <dl class="dlist">
                                                    <dt>Subtotal:</dt>
                                                    <dd><%=orderDetails.totalPrice.toLocaleString("en-IN",{
                                                        style: "currency",
                                                        currency: "INR",
                                                        minimumFractionDigits: 2,
                                                        maximumFractionDigits: 2,
                                                      } );%></dd>
                                                </dl>
                                                <dl class="dlist">
                                                    <dt>Shipping cost:</dt>
                                                    <dd>0.00</dd>
                                                </dl>
                                                <dl class="dlist">
                                                    <dt>Grand total:</dt>
                                                    <dd> <b class="h5"><%=orderDetails.totalPrice.toLocaleString("en-IN",{
                                                        style: "currency",
                                                        currency: "INR",
                                                        minimumFractionDigits: 2,
                                                        maximumFractionDigits: 2,
                                                      } );%></b> </dd>
                                                </dl>
                                                <dl class="dlist">
                                                    <dt class="text-muted">Status:</dt>
                                                    <dd>
                                                        <span class="badge rounded-pill alert-success text-success">Payment done</span>
                                                    </dd>
                                                </dl>
                                            </article>
                                        </td>
                                    </tr>
                                    <%})%>
                                </tbody>
                            </table>
                        </div> <!-- table-responsive// -->
                    </div> <!-- col// -->
                    <div class="col-lg-1"></div>
                    
                </div>
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
    </section> <!-- content-main end// -->
   
</main>
<script>
    function productReturn(id) {
  swal({
    title: "Are you sure,You want to return the product?",
    text: "Once returned, you will not be able to recover the product!",
    icon: "warning",
    buttons: true,
    dangerMode: true,
  }).then((willReturn) => {
    if (willReturn) {
      $.ajax({
        url: '/return-product', 
        type: 'PUT',
        data: {
          orderid: id
        },
        success: function (response) {
          if (response) {
            location.reload();
          }
        }
      });
      swal("Your product is Returned!", {
        icon: "success",
      });
    } else {
      swal("Canceled");
    }
  });
}
</script>